<!-- .newlist: 新着情報 -->
<div class="panel panel-default newlist">
  <div class="panel-heading">
    <h3 class="panel-title">最新の記事</h3>
  </div>
  <div class="list-group">
    <% Article.order("id desc").limit(5).each do |article| %>
      <a href="<%= article.href %>" class="list-group-item">
        <dl>
          <dt><span class="label label-warning">特集</span> <%= article.date_hyphen %></dt>
          <dd><%= article.title %></dd>
        </dl>
      </a>
    <% end %>
    <a href="/entry/archive" class="list-group-item">
      <span class="text-right">過去の記事一覧へ</span>
    </a>
  </div>
</div>

<div class="panel panel-default contest-index">
  <div class="panel-heading">
    <h3 class="panel-title">カテゴリ一覧</h3>
  </div>
  <div class="list-group">
    <% Category.all.each do |c| %>
      <a href="<%= c.href %>" class="list-group-item">
        <%= c.name %>
      </a>
    <% end %>
  </div>
</div>
