<div class="row content">
  <!-- .main: main column -->
  <div class="col-md-8 main">
    <article class="entry-contents">
      <div class="clearfix heading">
        <h1><%= @entry.title %></h1>
        <ul class="meta-info list-unstyled">
          <li><i class="fa fa-calendar"></i> <%= @entry.date %></li>
          <li><i class="fa fa-folder-open"></i> <%= @entry.category_link %></li>
        </ul>
      </div>
      <div class="entry-body">
        <div class="eye-chatch">
          <img src="<%= @entry.thumbnail %>" alt="<%= @entry.title %>" class="img-responsive">
        </div>
        <div class="entry-text">
          <%= @entry.body_html %>
        </div>

        <div class="clearfix">
          <ul class="list-unstyled social-button">
            <li class="social-button-item social-button-item-twitter btn btn-sm">
              <a href="<%= "https://twitter.com/intent/tweet?url=#{to()}&text=#{@entry.title}" %>" target="_blank"><i class="fa fa-twitter"></i> Tweet</a>
            </li>
            <li class="social-button-item social-button-item-facebook btn btn-sm">
              <a href="<%= "http://www.facebook.com/sharer.php?u=#{to()}" %>" target="_blank"><i class="fa fa-facebook-official"></i> Share</a>
            </li>
            <li class="social-button-item social-button-item-google btn btn-sm">
              <a href="<%= "https://plus.google.com/share?url=#{to()}" %>" target="_blank"><i class="fa fa-google-plus"></i> +1</a>
            </li>
            <li class="social-button-item social-button-item-hatena btn btn-sm">
              <a href="<%= "http://b.hatena.ne.jp/add?url=#{to()}" %>" target="_blank"><i class="fa fa-hatena"></i> Bookmark</a>
            </li>
          </ul>
        </div>
        <!-- .panel-entry-editor: 記事を書いた人の紹介 -->
        <div class="panel panel-primary panel-entry-editor">
          <!-- .panel-heading -->
          <div class="panel-heading">
            <div class="panel-procon-product-heading clearfix">
              <h4 class="panel-title">この記事を書いた人</h4>
            </div>
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body row member">
            <div class="col-md-3 col-sm-3  hidden-xs member-image">
              <img src="<%= @entry.auther_a.icon %>" class="img-circle img-responsive">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 member-introduction">
              <h4 class="member-name"><%= @entry.auther_a.name %></h4>
              <p><%= @entry.auther_a.description %></p>
              <ul class="list-inline member-sns">
                <% @entry.auther_a.sns.each do |item| %>
                  <li><a href="<%= item[:href] %>"><i class="fa fa-lg fa-fw <%= item[:klass] %>"></i> <%= item[:name] %></a></li>
                <% end %>
              </ul>
              <p class="text-right"><i class="icon-article"></i><a href="/auther/<%= @entry.auther_a.id %>">この人が他に書いた記事</a></p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!-- /.main -->

  <!-- .sidebar: sidebar column -->
  <aside class="col-md-4 hidden-sm hidden-xs sidebar">
    <%= erb :_entry_sidebar %>
  </aside>
  <!-- /.sidebar -->
</div>
<!-- ./content -->
