<!-- .content: content(main column + sidebar) -->
<div class="row content">
  <!-- .main: main column -->
  <div class="col-md-8 main entry-list">
    <div class="index-link">
      <a href="/entry/archive" class="btn btn-block btn-lg btn-warning"><i class="fa fa-search"></i> 記事を探す</a>
    </div>
    <% @entries.each do |entry| %>
      <article class="entry-contents row">
        <div class="clearfix eye-chatch col-md-4 col-md-4 col-sm-4 col-xs-4">
          <a href="<%= entry.href %>" title="<%= entry.title %>">
            <img src="<%= entry.thumbnail %>" class="img-responsive" alt="<%= entry.title %>">
          </a>
        </div>
        <div class="entry-body col-md-8 col-sm-8 col-xs-8">
          <div class="clearfix heading">
            <h2><a href="<%= entry.href %>"><%= entry.title %></a></h2>
            <ul class="meta-info list-unstyled">
              <li><i class="fa fa-calendar"></i> <%= entry.date %></li>
              <li><i class="fa fa-folder-open"></i> <%= entry.category_link %></li>
              <li><i class="fa fa-pencil"></i> <%= entry.auther_a.name %></li>
            </ul>
          </div>
          <div class="clearfix">
            <div class="entry-text">
              <p><%= entry.description %> <a href="<%= entry.href %>">【続きを読む】</a></p>
            </div>
          </div>
        </div>
      </article>
    <% end %>

    <ul class="pager">
      <% page = (params[:p] || 1) %>
      <% pager = Article.pagers(page) %>
      <% pager.each_index do |index|%>
        <% if index != 0 && pager[index] - pager[index-1] != 1 %>
          <li>・・・</li>
        <% end %>
        <% if index == page - 1 %>
          <li><%= pager[index] %></li>
        <% else %>
          <li><a href="/entry/page/<%= pager[index] %>"><%= pager[index] %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <!-- /.main -->

  <!-- .sidebar: sidebar column -->
  <aside class="col-md-4 hidden-sm hidden-xs sidebar">
    <%= erb :_entry_sidebar %>
  </aside>
  <!-- /.sidebar -->

</div>
<!-- /.content -->
