<% if params[:status] == 'success' %>
  <div class="alert alert-success" role="alert">保存に成功しました</div>
<% end %>
<% if @entrant.id.present? %>
  <form class="form-horizontal" method="post" action="./<%= @entrant.id %>">
<% else %>
  <h2>新規作品</h2>
  <form class="form-horizontal" method="post" action="./new">
<% end %>
  <div class="form-group">
    <label for="contest" class="col-sm-2 control-label">大会番号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="contest" name="contest" placeholder="25" value="<%= @entrant.contest %>">
    </div>
  </div>
  <div class="form-group">
    <label for="section" class="col-sm-2 control-label">部門</label>
    <div class="col-sm-10">
      <select class="form-control" id="section" name="section">
        <%= option_tag('競技部門', 'competition', @entrant.competition?) %>
        <%= option_tag('課題部門', 'themed', @entrant.themed?) %>
        <%= option_tag('自由部門', 'original', @entrant.original?) %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="registry_num" class="col-sm-2 control-label">登録番号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="registry_num" name="registry_num" placeholder="6" value="<%= @entrant.registry_num %>">
    </div>
  </div>
  <div class="form-group">
    <label for="school" class="col-sm-2 control-label">学校</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="school" name="school" placeholder="茨城高専" value="<%= @entrant.school %>">
    </div>
  </div>
  <div class="form-group">
    <label for="production" class="col-sm-2 control-label">場所</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="production" name="production" placeholder="賽巡TRIDE改—ハスケルパズルサウンド—" value="<%= @entrant.production %>">
    </div>
  </div>
  <div class="form-group">
    <label for="github" class="col-sm-2 control-label">GitHub</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="github" name="github" placeholder="URL" value="<%= @entrant.github %>">
    </div>
  </div>
  <div class="form-group">
    <label for="bitbucket" class="col-sm-2 control-label">Bitbucket</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="bitbucket" name="bitbucket" placeholder="URL" value="<%= @entrant.bitbucket %>">
    </div>
  </div>
  <div class="form-group">
    <label for="other_repo" class="col-sm-2 control-label">その他リポジトリ</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="other_repo" name="other_repo" placeholder="URL" value="<%= @entrant.other_repo %>">
    </div>
  </div>
  <div class="form-group">
    <label for="slideshare" class="col-sm-2 control-label">SlideShare</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="slideshare" name="slideshare" placeholder="URL" value="<%= @entrant.slideshare %>">
    </div>
  </div>
  <div class="form-group">
    <label for="other_slide" class="col-sm-2 control-label">その他のスライド</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="other_slide" name="other_slide" placeholder="URL" value="<%= @entrant.other_slide %>">
    </div>
  </div>
  <div class="form-group">
    <label for="twitter" class="col-sm-2 control-label">Twitter</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="twitter" name="twitter" placeholder="URL" value="<%= @entrant.twitter %>">
    </div>
  </div>
  <div class="form-group">
    <label for="facebook" class="col-sm-2 control-label">Facebook</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="facebook" name="facebook" placeholder="URL" value="<%= @entrant.facebook %>">
    </div>
  </div>
  <div class="form-group">
    <label for="site" class="col-sm-2 control-label">解説サイト</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="site" name="site" placeholder="URL" value="<%= @entrant.site %>">
    </div>
  </div>
  <div class="form-group">
    <label for="result" class="col-sm-2 control-label">決勝の順位</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="result" name="result" placeholder="1" value="<%= @entrant.result %>">
    </div>
  </div>
  <div class="form-group">
    <label for="prize" class="col-sm-2 control-label">賞</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="prize" name="prize" placeholder="優勝,特別賞" value="<%= @entrant.prize %>">
    </div>
  </div>
  <div class="form-group">
    <label for="history" class="col-sm-2 control-label">更新履歴への追加</label>
    <div class="col-sm-10">
      <input type="checkbox" id="history" name="history" value="add">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">保存</button>
      <a href="/console/contest" class="btn btn-success btn-md" role="button" style="margin-left:50px;">戻る</a>
    </div>
  </div>
</form>
