<!DOCTYPE HTML>
<html>
<head>
  <% if @title.present? %>
    <title><%= @title %> - Proconist.net</title>
  <% else %>
    <title>Proconist.net</title>
  <% end %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="高専プロコン作品のソースコードやプレゼンテーションまとめ。高専生プロコニストのアップスパイラルを生み出します">
  <meta name="keyword" content="高専プロコン, 高専, OSS, プレゼンテーション">
  <!-- OGP Settings -->
  <meta property="og:title" content="<%= @title ? "#{@title} - Proconist.net" : 'Proconist.net' %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="<%= @ogp_description || '高専プロコン作品のソースコードやプレゼンテーションまとめ。高専生プロコニストのアップスパイラルを生み出します' %>">
  <meta property="og:url" content="<%= @ogp_url || 'https://proconist.net' %>">
  <meta property="og:image" content="<%= @ogp_img || 'http://proconist.net/img/ogp.png' %>">
  <meta property="og:site_name" content="Proconist.net">
  <meta property="og:email" content="info@proconist.net">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="stylesheet" href="/css/bootstrap-umi.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <link rel="stylesheet" href="https://cdn.honokak.osaka/umi/3.3.5/css/bootstrap.min.css">
</head>
<body>

<!-- .container -->
<div class="container">

  <header>
    <!-- .title: ヘッダのロゴ関連 -->
    <div class="title">
      <div class="row">
        <div class="col-md-8 clearfix">
          <% if request.path == '/' %>
            <h1><a href="//proconist.net/" class="logo">Proconist.net</a></h1>
          <% else %>
            <div class="logo-wrap"><a href="//proconist.net/" class="logo">Proconist.net</a></div>
          <% end %>
          <span class="description">プロコンでアップスパイラルを生み出す</span>
        </div>
        <div class="col-md-4 social-button">
          <ul class="list-unstyled social-button">
            <li class="social-button-item social-button-item-twitter btn btn-sm">
              <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2FProconist.net&text=Proconist.net" target="_blank"><i class="fa fa-twitter"></i> Tweet</a>
            </li>
            <li class="social-button-item social-button-item-facebook btn btn-sm">
              <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2FProconist.net" target="_blank"><i class="fa fa-facebook-official"></i> Share</a>
            </li>
            <li class="social-button-item social-button-item-google btn btn-sm">
              <a href="https://plus.google.com/share?url=https%3A%2F%2FProconist.net" target="_blank"><i class="fa fa-google-plus"></i> +1</a>
            </li>
            <li class="social-button-item social-button-item-hatena btn btn-sm">
              <a href="http://b.hatena.ne.jp/add?url=https%3A%2F%2FProconist.net" target="_blank"><i class="fa fa-hatena"></i> Bookmark</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.title -->
    <!-- .navbar: ナビゲーション -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="/">トップページ</a></li>
          <li><a href="/contest">大会から作品を探す</a></li>
          <li><a href="/entry">学ぶ</a></li>
          <li><a href="/report">作品情報を投稿する</a></li>
          <li><a href="/about">このサイトについて</a></li>
        </ul>
      </div>
    </nav>
    <!-- /.navbar -->
  </header>

  <%= yield %>

</div>
<!-- /.container  -->

<footer>
  <div class="container">
    <div class="github-star-button text-center"><iframe src="https://ghbtns.com/github-btn.html?user=NKMR6194&repo=proconist.net&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="20px"></iframe></div>
    <div class="copyright text-center">&copy; 2015 Proconist.net 運営委員会</div>
  </div>
</footer>

<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script>
// Twitter
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p='https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<%= render partial: 'layouts/analytic_scripts' if Rails.env == 'production' %>
</body>
</html>
