<% if params[:status] == 'success' %>
  <div class="alert alert-success" role="alert">保存に成功しました</div>
<% end %>
<% if @contest.id.present? %>
  <h2>第<%= @contest.id %>回大会</h2>
  <form class="form-horizontal" method="post" action="./<%= @contest.id %>">
<% else %>
  <h2>新規大会</h2>
  <form class="form-horizontal" method="post" action="./new">
    <div class="form-group">
      <label for="id" class="col-sm-2 control-label">大会ナンバー</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="id" name="id" placeholder="25">
      </div>
    </div>
<% end %>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">大会名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="一関大会" value="<%= @contest.name %>">
    </div>
  </div>
  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">日付</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="date" name="date" placeholder="2014年10月18日(土)〜19日(日)" value="<%= @contest.date %>">
    </div>
  </div>
  <div class="form-group">
    <label for="place" class="col-sm-2 control-label">場所</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="place" name="place" placeholder="一関文化センター" value="<%= @contest.place %>">
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">タイトル</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="とどけよう、イーハトーヴの風〜僕らが創る希望郷〜" value="<%= @contest.title %>">
    </div>
  </div>
  <div class="form-group">
    <label for="competition_title" class="col-sm-2 control-label">競技タイトル</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="competition_title" name="competition_title" placeholder="キオクのかけらⅡ" value="<%= @contest.competition_title %>">
    </div>
  </div>
  <div class="form-group">
    <label for="themed_title" class="col-sm-2 control-label">課題タイトル</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="themed_title" name="themed_title" placeholder="防災・減災対策と復興支援" value="<%= @contest.themed_title %>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">保存</button>
      <a href="/console/contest" class="btn btn-success btn-md" role="button" style="margin-left:50px;">戻る</a>
    </div>
  </div>
</form>
