<table class="table table-striped">
  <tbody>
    <%= escaped_tr('大会', @report.contest_title) %>
    <%= escaped_tr('部門', @report.section) %>
    <%= escaped_tr('作品名', @report.product) %>
    <%= escaped_tr('リポジトリ', @report.repository) %>
    <%= escaped_tr('スライド', @report.slide) %>
    <%= escaped_tr('サイト', @report.site) %>
    <%= escaped_tr('Twitter', @report.twitter) %>
    <%= escaped_tr('Facebook', @report.facebook) %>
    <%= escaped_tr('コメント', @report.comment) %>
    <%= escaped_tr('投稿者のemail', @report.email) %>
  </tbody>
</table>
<% if @op.admin? %>
  <a href="/console/report/<%= params[:id] %>/delete" class="btn btn-danger">Delete</a>
<% end %>
