<% if params[:status] == 'success' %>
  <div class="alert alert-success" role="alert">保存に成功しました</div>
<% elsif params[:status] == 'pass_success' %>
  <div class="alert alert-success" role="alert">パスワードの変更が完了しました</div>
<% elsif params[:status] == 'auth_error' %>
  <div class="alert alert-danger" role="alert">現在のパスワードが間違っています</div>
<% elsif params[:status] == 'verify_error' %>
  <div class="alert alert-danger" role="alert">新しいパスワードと再入力が一致しませんでした</div>
<% end %>
<h2>ユーザー設定</h2>
<form class="form-horizontal" method="post" action="./user-settings" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">名前</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="名前" value="<%= @op.name %>">
    </div>
  </div>
  <div class="form-group">
    <label for="icon" class="col-sm-2 control-label">アイコン</label>
    <div class="col-sm-10">
      <img src="<%= @op.icon %>" width="150" height="150">
      <p>現在のicon</P>
      <input type="file" id="icon" name="icon">
    </div>
  </div>
  <div class="form-group">
    <label for="school" class="col-sm-2 control-label">学校</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="school" name="school" placeholder="学校" value="<%= @op.school %>">
    </div>
  </div>
  <div class="form-group">
    <label for="github" class="col-sm-2 control-label">GitHub</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="github" name="github" placeholder="ID" value="<%= @op.github %>">
    </div>
  </div>
  <div class="form-group">
    <label for="bitbucket" class="col-sm-2 control-label">Bitbucket</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="bitbucket" name="bitbucket" placeholder="ID" value="<%= @op.bitbucket %>">
    </div>
  </div>
  <div class="form-group">
    <label for="slideshare" class="col-sm-2 control-label">SlideShare</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="slideshare" name="slideshare" placeholder="ID" value="<%= @op.slideshare %>">
    </div>
  </div>
  <div class="form-group">
    <label for="twitter" class="col-sm-2 control-label">Twitter</label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="ID" value="<%= @op.twitter %>">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="facebook" class="col-sm-2 control-label">Facebook</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="facebook" name="facebook" placeholder="ID" value="<%= @op.facebook %>">
    </div>
  </div>
  <div class="form-group">
    <label for="site" class="col-sm-2 control-label">サイト</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="site" name="site" placeholder="URL" value="<%= @op.site %>">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">自己紹介</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" rows="4"><%= @op.description %></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">変更</button>
    </div>
  </div>
</form>

<h2 style="margin-top:40px;">パスワード変更</h2>
<form class="form-horizontal" method="post" action="./password">
  <div class="form-group">
    <label for="current" class="col-sm-2 control-label">現在のパスワード</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="current" name="current">
    </div>
  </div>
  <div class="form-group">
    <label for="new" class="col-sm-2 control-label">新しいパスワード</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="new" name="new">
    </div>
  </div>
  <div class="form-group">
    <label for="verify" class="col-sm-2 control-label">再入力</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="verify" name="verify">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">変更</button>
    </div>
  </div>
</form>
